body{
  background-color: rgb(54, 53, 53);
}
#shoutDisplay{
  display: none;
}

.jumbotron{
  Border: 5px solid black;
  text-align: center;
  color: lightgrey;
  background-color: rgb(54, 53, 53);
  border-radius: 20%;
  padding: 2px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#shoutDisplay{
  margin-top: 10%;
  color: lightgrey;
  text-align: center;
}